body {
    background-color: #f6ed27;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left:0px;
    margin-right: 0px;
    padding:0px;
}

img.logo {
 height : 90px;
 width: auto;
}

h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 5%;
    margin-right: 400px;
    margin-left: 400px;
    background-color: #666666;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f6ed27;
    font-size: ;

}
 .container {
     width: 500px;
     height:600px;
     text-align: center;
     margin: 0 auto;
       
 }

 form {
     margin-top: ;
     margin-bottom: ;
     margin-left: ;
     margin-right: ;
 }

 /*inputan*/

.inputan {
     padding-left: 0;
     background-color:;
     margin-top:0px;
     margin-bottom: 0px;
     margin-left: 10px;
     margin-right: ;
}

#name1{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }
#name2{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }
#date{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }
#email{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }
#pass1{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }
 #pass2{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }
  #phone{
     margin-top: ;
     margin-bottom: ;
     margin-left: 10px;
     margin-right: ;
 }


 /* logo didalam form */

#logonama1 {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#logonama2 {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#logobirthday {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#logoemail {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#logopass1 {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#logopass2 {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#logohp {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

#boy {
margin-top: 0;
margin-bottom: -3%;
margin-right: 5%;
margin-left: 
}

#girl {
margin-top: 0;
margin-bottom: -3%;
margin-right: ;
margin-left: 
}

h1 {
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: #666666;
}

